<h1>Lista de Unidades de Medida</h1>

<table>
  <tr>
    <th>Nome</th>

  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= link_to unit.name, [:admin, unit] %></td>
    <td><%= link_to image_tag('edit.png'), edit_admin_unit_path(unit) %></td>
    <td><%= link_to image_tag('trash.png'), [:admin, unit], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Unidade de Medida', new_admin_unit_path %>
